/captures
.externalNativeBuild
.cxx
.ignore.d/

###      IDEA
.idea
.gradle
.vscode

###      BUILDS
**build/
*.apk
*.aab

###      DEBUGGING (pulled from a device via adb for troubleshooting)
/runtime_logs*.log
/*_screenshot.jpg

###      BINS
**bin/

###      ANDROID
**APK keystore/
.DS_Store
**/res/raw/release_notes.txt
!composeApp/src/androidDebug/res/raw/release_notes.txt

###      PROPERTIES
**local.properties
**crowdin.properties
**__crowdin.properties


###     DEPENDENCIES
/YT python/
/.kotlin/


### nektos/act
.env
.secrets
.vars
